In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math

%matplotlib inline

In [2]:
AWS_df = pd.read_csv('AWS_Dataset_Preped.csv')
AWS_df.head(20)

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,AveMonthSpend,Age,BikeBuyer,dummy
0,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,M,1,0,0,2,137947,89,32,0,1.0
1,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,S,0,1,3,3,101141,117,33,1,1.0
2,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,M,1,1,3,3,91945,123,33,0,1.0
3,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,S,0,1,0,0,86688,50,30,0,1.0
4,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,S,1,4,5,5,92771,95,30,1,1.0
5,11005,NaN,Julio,NaN,Ruiz,NaN,7305 Humphrey Drive,NaN,East Brisbane,Queensland,...,S,1,1,0,0,103199,78,33,1,1.0
6,11006,NaN,Janet,G,Alvarez,NaN,2612 Berry Dr,NaN,Matraville,New South Wales,...,S,1,1,0,0,84756,54,33,1,1.0
7,11007,NaN,Marco,NaN,Mehta,NaN,942 Brook Street,NaN,Warrnambool,Victoria,...,M,1,2,3,3,109759,130,34,1,1.0
8,11008,NaN,Rob,NaN,Verhoff,NaN,624 Peabody Road,NaN,Bendigo,Victoria,...,S,1,3,4,4,88005,85,34,1,1.0
9,11009,NaN,Shannon,C,Carlson,NaN,3839 Northgate Road,NaN,Hervey Bay,Queensland,...,S,0,1,0,0,106399,74,34,0,1.0
10,11010,NaN,Jacquelyn,C,Suarez,NaN,7800 Corrinne Court,NaN,East Brisbane,Queensland,...,S,0,1,0,0,81294,49,34,0,1.0
11,11011,NaN,Curtis,NaN,Lu,NaN,1224 Shoenic,NaN,East Brisbane,Queensland,...,M,1,4,4,4,94029,146,35,1,1.0
12,11012,NaN,Lauren,M,Walker,NaN,4785 Scott Street,NaN,Bremerton,Washington,...,M,1,2,0,2,99245,55,30,1,1.0
13,11013,NaN,Ian,M,Jenkins,NaN,7902 Hudson Ave.,NaN,Lebanon,Oregon,...,M,1,3,0,2,115859,84,30,0,1.0
14,11014,NaN,Sydney,NaN,Bennett,NaN,9011 Tank Drive,NaN,Redmond,Washington,...,S,0,3,0,3,105157,49,30,0,1.0
15,11015,NaN,Chloe,NaN,Young,NaN,244 Willow Pass Road,NaN,Burbank,California,...,S,0,1,0,0,40011,39,19,0,1.0
16,11016,NaN,Wyatt,L,Hill,NaN,9666 Northridge Ct.,NaN,Imperial Beach,California,...,M,1,1,0,0,46808,68,19,0,1.0
17,11019,NaN,Luke,L,Lal,NaN,7832 Landing Dr,NaN,Langley,British Columbia,...,S,0,2,0,0,49455,64,20,1,1.0
18,11020,NaN,Jordan,C,King,NaN,7156 Rose Dr.,NaN,Metchosin,British Columbia,...,S,0,2,0,0,43857,64,20,0,1.0
19,11023,NaN,Seth,M,Edwards,NaN,4499 Valley Crest,NaN,Bellflower,California,...,M,1,1,0,0,50046,71,20,0,1.0

In [27]:
print(AWS_df.shape)
print(AWS_df.CustomerID.unique().shape)

(16519, 27)
(16404,)

In [30]:
AWS_df.drop_duplicates(subset = 'CustomerID', keep = 'first', inplace = True)
print(AWS_df.shape)
print(AWS_df.CustomerID.unique().shape)

(16404, 27)
(16404,)

In [35]:
print(AWS_df.loc[AWS_df['Title'] == 'NaN', 'Title'])
print(AWS_df.loc[AWS_df['Suffix'] == 'NaN', 'Suffix'])

Series([], Name: Title, dtype: object)
Series([], Name: Suffix, dtype: object)

In [49]:
# Drop columns with too many missing values
AWS_df.drop('Title', axis = 1, inplace = True)
AWS_df.drop('Suffix', axis = 1, inplace = True)
AWS_df.drop('MiddleName', axis = 1, inplace = True)
AWS_df.drop('AddressLine2', axis = 1, inplace = True)
AWS_df.drop('dummy', axis = 1, inplace = True)

In [50]:
AWS_df.head(100)

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,AveMonthSpend,Age,BikeBuyer
0,11000,Jon,Yang,3761 N. 14th St,Rockhampton,Queensland,Australia,4700,1 (11) 500 555-0162,1966-04-08,...,M,M,1,0,0,2,137947,89,32,0
1,11001,Eugene,Huang,2243 W St.,Seaford,Victoria,Australia,3198,1 (11) 500 555-0110,1965-05-14,...,M,S,0,1,3,3,101141,117,33,1
2,11002,Ruben,Torres,5844 Linden Land,Hobart,Tasmania,Australia,7001,1 (11) 500 555-0184,1965-08-12,...,M,M,1,1,3,3,91945,123,33,0
3,11003,Christy,Zhu,1825 Village Pl.,North Ryde,New South Wales,Australia,2113,1 (11) 500 555-0162,1968-02-15,...,F,S,0,1,0,0,86688,50,30,0
4,11004,Elizabeth,Johnson,7553 Harness Circle,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0131,1968-08-08,...,F,S,1,4,5,5,92771,95,30,1
5,11005,Julio,Ruiz,7305 Humphrey Drive,East Brisbane,Queensland,Australia,4169,1 (11) 500 555-0151,1965-08-05,...,M,S,1,1,0,0,103199,78,33,1
6,11006,Janet,Alvarez,2612 Berry Dr,Matraville,New South Wales,Australia,2036,1 (11) 500 555-0184,1965-12-06,...,F,S,1,1,0,0,84756,54,33,1
7,11007,Marco,Mehta,942 Brook Street,Warrnambool,Victoria,Australia,3280,1 (11) 500 555-0126,1964-05-09,...,M,M,1,2,3,3,109759,130,34,1
8,11008,Rob,Verhoff,624 Peabody Road,Bendigo,Victoria,Australia,3550,1 (11) 500 555-0164,1964-07-07,...,F,S,1,3,4,4,88005,85,34,1
9,11009,Shannon,Carlson,3839 Northgate Road,Hervey Bay,Queensland,Australia,4655,1 (11) 500 555-0110,1964-04-01,...,M,S,0,1,0,0,106399,74,34,0
10,11010,Jacquelyn,Suarez,7800 Corrinne Court,East Brisbane,Queensland,Australia,4169,1 (11) 500 555-0169,1964-02-06,...,F,S,0,1,0,0,81294,49,34,0
11,11011,Curtis,Lu,1224 Shoenic,East Brisbane,Queensland,Australia,4169,1 (11) 500 555-0117,1963-11-04,...,M,M,1,4,4,4,94029,146,35,1
12,11012,Lauren,Walker,4785 Scott Street,Bremerton,Washington,United States,98312,717-555-0164,1968-01-18,...,F,M,1,2,0,2,99245,55,30,1
13,11013,Ian,Jenkins,7902 Hudson Ave.,Lebanon,Oregon,United States,97355,817-555-0185,1968-08-06,...,M,M,1,3,0,2,115859,84,30,0
14,11014,Sydney,Bennett,9011 Tank Drive,Redmond,Washington,United States,98052,431-555-0156,1968-05-09,...,F,S,0,3,0,3,105157,49,30,0
15,11015,Chloe,Young,244 Willow Pass Road,Burbank,California,United States,91502,208-555-0142,1979-02-27,...,F,S,0,1,0,0,40011,39,19,0
16,11016,Wyatt,Hill,9666 Northridge Ct.,Imperial Beach,California,United States,91932,135-555-0171,1979-04-28,...,M,M,1,1,0,0,46808,68,19,0
17,11019,Luke,Lal,7832 Landing Dr,Langley,British Columbia,Canada,V3A 4R2,262-555-0112,1978-03-07,...,M,S,0,2,0,0,49455,64,20,1
18,11020,Jordan,King,7156 Rose Dr.,Metchosin,British Columbia,Canada,V9,550-555-0163,1978-09-20,...,M,S,0,2,0,0,43857,64,20,0
19,11023,Seth,Edwards,4499 Valley Crest,Bellflower,California,United States,90706,452-555-0188,1978-10-11,...,M,M,1,1,0,0,50046,71,20,0
20,11024,Russell,Xie,8734 Oxford Place,Concord,California,United States,94519,746-555-0186,1978-09-17,...,M,M,1,2,0,0,91276,77,20,0
21,11025,Alejandro,Beck,2596 Franklin Canyon Road,Hawthorne,Queensland,Australia,4171,1 (11) 500 555-0178,1945-12-23,...,M,M,1,2,1,2,24334,70,53,0
22,11026,Harold,Sai,8211 Leeds Ct.,Goulburn,New South Wales,Australia,2580,1 (11) 500 555-0131,1946-04-03,...,M,S,0,2,0,2,61905,63,52,0
23,11027,Jessie,Zhao,213 Valencia Place,Warrnambool,Victoria,Australia,3280,1 (11) 500 555-0184,1946-12-07,...,M,M,1,2,0,2,49349,76,52,0
24,11028,Jill,Jimenez,9111 Rose Ann Ave,St. Leonards,New South Wales,Australia,2065,1 (11) 500 555-0116,1946-04-11,...,F,M,1,2,0,2,44068,43,52,0
25,11031,Theresa,Ramos,6465 Detroit Ave.,Matraville,New South Wales,Australia,2036,1 (11) 500 555-0195,1947-08-22,...,F,M,1,2,0,4,18843,43,51,0
26,11032,Denise,Stone,626 Bentley Street,Melbourne,Victoria,Australia,3000,1 (11) 500 555-0169,1947-06-11,...,F,M,1,2,0,4,15861,42,51,0
27,11033,Jaime,Nath,5927 Rainbow Dr,Milsons Point,New South Wales,Australia,2061,1 (11) 500 555-0137,1947-09-23,...,M,M,1,2,0,4,35822,58,51,0
28,11034,Ebony,Gonzalez,5167 Condor Place,North Sydney,New South Wales,Australia,2055,1 (11) 500 555-0136,1947-06-19,...,F,M,1,2,0,4,29017,39,51,0
29,11035,Wendy,Dominguez,1873 Mt. Whitney Dr,Cranbourne,Victoria,Australia,3977,1 (11) 500 555-0177,1948-02-24,...,F,M,1,2,1,2,11721,50,50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,11080,Damien,Chander,9941 Stonehedge Dr.,Perth,South Australia,Australia,6006,1 (11) 500 555-0111,1959-07-17,...,M,M,1,2,0,0,181590,92,39,1
71,11081,Savannah,Baker,1210 Trafalgar Circle,Concord,California,United States,94519,478-555-0117,1966-07-24,...,F,M,1,3,2,2,148109,76,32,0
72,11082,Angela,Butler,6040 Listing Ct,Fremont,California,United States,94536,579-555-0195,1966-08-04,...,F,S,0,3,1,1,149717,62,32,1
73,11083,Alyssa,Cox,867 La Orinda Place,Lincoln Acres,California,United States,91950,561-555-0140,1966-03-15,...,F,M,1,3,1,1,163913,68,32,1
74,11085,Emily,Johnson,7926 Stephanie Way,Newport Beach,California,United States,92625,850-555-0184,1957-07-19,...,F,S,0,2,0,2,66900,47,41,0
75,11086,Ryan,Brown,2939 Wesley Ct.,Santa Monica,California,United States,90401,539-555-0198,1957-12-23,...,M,M,1,0,1,2,97834,98,41,0
76,11088,Hunter,Davis,4308 Sand Pointe Lane,San Diego,California,United States,92102,612-555-0141,1957-11-25,...,M,M,1,0,1,2,129910,104,41,0
77,11089,Abigail,Price,2685 Blackburn Ct,Long Beach,California,United States,90802,532-555-0117,1957-02-05,...,F,S,1,1,1,2,91729,57,41,1
78,11090,Trevor,Bryant,5781 Sharon Dr.,Los Angeles,California,United States,90012,853-555-0174,1957-12-17,...,M,S,1,1,0,2,113883,76,41,0
79,11091,Dalton,Perez,6083 San Jose,Haney,British Columbia,Canada,V2W 1W2,559-555-0115,1957-04-04,...,M,M,1,1,0,2,112820,82,41,0
80,11093,Aimee,He,1833 Olympic Drive,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0161,1967-09-10,...,F,M,1,0,0,0,106839,58,31,0
81,11094,Cedric,Ma,3407 Oak Brook Place,Cranbourne,Victoria,Australia,3977,1 (11) 500 555-0115,1962-04-01,...,M,S,0,1,0,1,88887,78,36,1
82,11095,Chad,Kumar,1681 Lighthouse Way,Port Macquarie,New South Wales,Australia,2444,1 (11) 500 555-0151,1962-09-01,...,M,S,1,1,0,1,108740,77,36,0
83,11096,Andrés,Anand,5423 Los Gatos Ct.,North Sydney,New South Wales,Australia,2055,1 (11) 500 555-0184,1962-08-10,...,M,M,1,1,0,1,106971,87,36,1
84,11097,Edwin,Nara,719 William Way,Warrnambool,Victoria,Australia,3280,1 (11) 500 555-0112,1961-10-27,...,M,M,1,1,0,1,98519,80,37,0
85,11098,Mallory,Rubio,6452 Harris Circle,Rhodes,New South Wales,Australia,2138,1 (11) 500 555-0157,1961-05-01,...,F,S,0,1,0,1,82707,54,37,0
86,11099,Adam,Ross,4378 Westminster Place,Port Macquarie,New South Wales,Australia,2444,1 (11) 500 555-0186,1961-03-08,...,M,M,1,1,0,1,103866,83,37,1
87,11100,Latasha,Navarro,6954 Ranch Road,Cloverdale,South Australia,Australia,6105,1 (11) 500 555-0123,1960-09-15,...,F,S,1,1,0,1,66520,46,38,0
88,11101,Abby,Sai,7074 N. Spoonwood Court,Cranbourne,Victoria,Australia,3977,1 (11) 500 555-0174,1965-05-08,...,F,S,0,1,0,0,75270,47,33,1
89,11102,Julia,Nelson,2196 Coat Ct.,Sydney,New South Wales,Australia,1002,1 (11) 500 555-0124,1965-04-21,...,F,S,1,4,5,5,95167,89,33,1
90,11103,Cassie,Chande,9448 San Marino Ct.,Darlinghurst,New South Wales,Australia,2010,1 (11) 500 555-0166,1964-10-17,...,F,S,1,1,0,0,85087,49,34,0
91,11104,Edgar,Sara,6127 Lilly Lane,Gold Coast,Queensland,Australia,4217,1 (11) 500 555-0125,1964-03-11,...,M,M,0,1,0,0,102445,85,34,0
92,11105,Candace,Fernandez,5029 Blue Ridge,Matraville,New South Wales,Australia,2036,1 (11) 500 555-0162,1964-12-28,...,F,S,0,1,0,0,88445,52,34,0
93,11106,Jessie,Liu,3063 Blue Jay Drive,Warrnambool,Victoria,Australia,3280,1 (11) 500 555-0163,1964-09-11,...,M,S,0,1,0,0,97782,74,34,1
94,11107,Bianca,Lin,7530 Eola,St. Leonards,New South Wales,Australia,2065,1 (11) 500 555-0121,1959-09-09,...,F,M,1,1,0,1,117317,54,39,1
95,11109,Ruben,Kapoor,1984 Glendale Circle,South Melbourne,Victoria,Australia,3205,1 (11) 500 555-0132,1963-11-05,...,M,S,0,2,0,0,106891,79,35,1
96,11110,Curtis,Yang,4052 Mt. Wilson Way,Darlinghurst,New South Wales,Australia,2010,1 (11) 500 555-0127,1962-06-06,...,M,M,1,1,0,1,77012,74,36,1
97,11111,Meredith,Gutierrez,7610 Northridge Ct.,Geelong,Victoria,Australia,3220,1 (11) 500 555-0179,1962-02-23,...,F,M,1,1,0,1,62702,56,36,1
98,11112,Crystal,Wang,2773 Kirkwood Dr,Hervey Bay,Queensland,Australia,4655,1 (11) 500 555-0134,1962-09-09,...,F,M,1,1,0,1,73151,51,36,0
99,11113,Micheal,Blanco,596 Marfargoa Drive,Perth,South Australia,Australia,6006,1 (11) 500 555-0131,1962-02-21,...,M,M,1,2,4,5,104220,142,36,1

In [51]:
AWS_df.dtypes

CustomerID               int64
FirstName               object
LastName                object
AddressLine1            object
City                    object
StateProvinceName       object
CountryRegionName       object
PostalCode              object
PhoneNumber             object
BirthDate               object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag            int64
NumberCarsOwned          int64
NumberChildrenAtHome     int64
TotalChildren            int64
YearlyIncome             int64
AveMonthSpend            int64
Age                      int64
BikeBuyer                int64
dtype: object

In [52]:
(AWS_df.astype(np.object) == 'NaN').any()

CustomerID              False
FirstName               False
LastName                False
AddressLine1            False
City                    False
StateProvinceName       False
CountryRegionName       False
PostalCode              False
PhoneNumber             False
BirthDate               False
Education               False
Occupation              False
Gender                  False
MaritalStatus           False
HomeOwnerFlag           False
NumberCarsOwned         False
NumberChildrenAtHome    False
TotalChildren           False
YearlyIncome            False
AveMonthSpend           False
Age                     False
BikeBuyer               False
dtype: bool

In [53]:
for col in AWS_df.columns:
    if AWS_df[col].dtype == object:
        count = 0
        count = [count + 1 for x in AWS_df[col] if x is 'NaN']
        print(col + ' ' + str(sum(count)))

FirstName 0
LastName 0
AddressLine1 0
City 0
StateProvinceName 0
CountryRegionName 0
PostalCode 0
PhoneNumber 0
BirthDate 0
Education 0
Occupation 0
Gender 0
MaritalStatus 0

In [56]:
print(AWS_df.shape)
print(AWS_df.CustomerID.unique().shape)

(16404, 22)
(16404,)

In [58]:
AWS_df.to_csv('AWS_Dataset_Preped.csv', index = False, header = True)