In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

%matplotlib inline

In [2]:
train_values = pd.read_csv('train_values.csv')
train_labels = pd.read_csv('train_labels.csv')

train_data = train_values
train_data['accepted'] = train_labels['accepted']
train_data.shape

(500000, 23)

In [3]:
cols = ['state_code', 'county_code', 'msa_md']
for col in cols:
    train_data.loc[train_data[col] == -1, col] = np.nan

In [4]:
train_data.isnull().sum()

row_id                                0
loan_type                             0
property_type                         0
loan_purpose                          0
occupancy                             0
loan_amount                           0
preapproval                           0
msa_md                            76982
state_code                        19132
county_code                       20466
applicant_ethnicity                   0
applicant_race                        0
applicant_sex                         0
applicant_income                  39948
population                        22465
minority_population_pct           22466
ffiecmedian_family_income         22440
tract_to_msa_md_income_pct        22514
number_of_owner-occupied_units    22565
number_of_1_to_4_family_units     22530
lender                                0
co_applicant                          0
accepted                              0
dtype: int64

In [17]:
# column_medians = [train_data[col].median() for col in train_data.columns]
# Fill missing values with column median
for col in train_data.columns:
    train_data.loc[train_data[col].isnull(), col] = train_data[col].median()

In [18]:
train_data.isnull().sum()

row_id                            0
loan_type                         0
property_type                     0
loan_purpose                      0
occupancy                         0
loan_amount                       0
preapproval                       0
msa_md                            0
state_code                        0
county_code                       0
applicant_ethnicity               0
applicant_race                    0
applicant_sex                     0
applicant_income                  0
population                        0
minority_population_pct           0
ffiecmedian_family_income         0
tract_to_msa_md_income_pct        0
number_of_owner-occupied_units    0
number_of_1_to_4_family_units     0
lender                            0
co_applicant                      0
accepted                          0
dtype: int64

In [19]:
train_data.to_csv('preped_data2.csv')

In [23]:
train_data.head(16).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
row_id,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
loan_type,3,1,2,1,1,1,3,2,1,1,1,1,2,1,1,1
property_type,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
loan_purpose,1,3,3,1,1,3,1,1,3,3,1,1,3,1,1,3
occupancy,1,1,1,1,1,1,1,1,2,1,1,1,1,2,2,1
loan_amount,70,178,163,155,305,133,240,210,209,197,319,187,138,240,151,208
preapproval,3,3,3,1,3,3,3,3,3,3,3,3,3,3,3,3
msa_md,18,369,16,305,24,221,374,322,24,194,358,154,61,141,281,101
state_code,37,52,10,47,37,13,28,37,37,9,32,44,28,6,2,16
county_code,246,299,306,180,20,55,131,35,20,20,244,55,3,250,210,313
applicant_ethnicity,2,1,2,2,2,2,1,1,2,2,3,2,1,2,2,3
applicant_race,5,5,5,5,3,5,5,5,5,5,6,5,5,5,5,6
applicant_sex,1,1,1,1,2,2,2,1,1,1,3,1,2,1,1,3
applicant_income,24,57,67,105,71,51,104,55,244,86,78,63,74,90,172,53
population,6203,5774,6094,6667,6732,6078,6068,6030,5151,7916,5931,6917,9958,4076,2165,5841
minority_population_pct,44.23,15.905,61.27,6.246,100,4.821,26.427,78.153,88.156,24.893,39.082,6.922,41.404,37.949,3.916,63.554
ffiecmedian_family_income,60588,54821,67719,78439,63075,82745,65282,108353,63414,65927,109743,73503,60081,76369,63560,69265
tract_to_msa_md_income_pct,50.933,100,100,100,82.2,96.55,81.068,59.439,62.813,100,100,100,100,87.937,100,82.998
number_of_owner-occupied_units,716,1622,760,2025,1464,1827,1863,969,411,1861,1315,1858,2220,835,839,1196
number_of_1_to_4_family_units,2642,2108,1048,2299,1847,2340,2560,1601,481,2123,1382,2050,2727,1696,1263,1632
lender,4536,2458,5710,5888,289,964,5488,2442,2118,3507,838,5154,4664,5154,5473,5316
co_applicant,False,False,False,True,False,False,False,True,True,False,False,False,False,False,True,False
accepted,1,0,1,1,1,1,1,1,1,0,1,1,1,1,0,1